name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  docker:
    runs-on: [ubuntu-latest]
    if: github.event_name != 'push' || !contains(github.event.head_commit.message, 'Merge')  # Skip if merge commit

    steps:
      - 
        name: Check current user
        run: whoami
      #-
      #  name: Set up QEMU
      #  uses: docker/setup-qemu-action@v3
      #-
      #  name: Set up Docker Buildx
       # uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: cdharsh/my-repo:${{ github.sha }}

      - name: Remove Docker image
        run: |
          IMAGE_NAME="cdharsh/my-repo"
          echo "Attempting to remove images with the following tag:"
          echo "${IMAGE_NAME}:${{ github.sha }}"
          docker rmi "${IMAGE_NAME}:${{ github.sha }}" || true

